{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Formulario de Recoleccion de informacion</title>
    <link href="{% static 'Encuesta/styles.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-4">
        <h1 class="mb-4">Formulario de Encuesta</h1>
        <form method="post" class="formulario">
            {% csrf_token %}

            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Ingrese su nombre">
            </div>

            <div class="mb-3">
                <label for="cargo" class="form-label">Cargo:</label>
                <input type="text" class="form-control" id="cargo" name="cargo" placeholder="Ingrese su cargo">
            </div>

            <div class="mb-3">
                <label for="pregunta1" class="form-label">1- ¿Cómo nació la idea de los desayunos sorpresa?</label>
                <textarea class="form-control" id="pregunta1" name="pregunta1"
                    placeholder="Escribe aquí tu respuesta"></textarea>
            </div>

            <div class="mb-3">
                <label for="pregunta2" class="form-label">2- ¿De qué productos se conforman los desayunos?</label>
                <textarea class="form-control" id="pregunta2" name="pregunta2"
                    placeholder="Escribe aquí tu respuesta"></textarea>
            </div>

            <div class="mb-3">
                <label for="pregunta3" class="form-label">3- ¿Cómo hacen los clientes para solicitar un
                    desayuno?</label>
                <textarea class="form-control" id="pregunta3" name="pregunta3"
                    placeholder="Escribe aquí tu respuesta"></textarea>
            </div>

            <div class="mb-3">
                <label for="pregunta4" class="form-label">4- ¿Cómo es el medio de pago?</label>
                <select class="form-select" id="pregunta4" name="pregunta4">
                    <option value="tarjeta">Tarjeta</option>
                    <option value="efectivo">Efectivo</option>
                    <option value="nequi">Nequi</option>
                    <option value="daviplata">Daviplata</option>
                </select>
            </div>

            <div class="mb-3">
                <label for="pregunta5" class="form-label">5- ¿Que medios de comunicacion usas para promocionar los
                    productos?</label>
                <textarea class="form-control" id="pregunta5" name="pregunta5"
                    placeholder="Escribe aquí tu respuesta"></textarea>
            </div>

            <div class="mb-3">
                <label for="pregunta6" class="form-label">6- Despues de confirmar un pedido, describe el proceso de
                    empaque y envio</label>
                <textarea class="form-control" id="pregunta6" name="pregunta6"
                    placeholder="Escribe aquí tu respuesta"></textarea>
            </div>

            <div class="mb-3">
                <label for="pregunta7" class="form-label">7-¿Cuanto tiempo llevan en este negocio?</label>
                <select class="form-select" id="pregunta7" name="pregunta7">
                    <option value="de uno a 5 años">De uno a 5 años</option>
                    <option value="de 5 a 10 años">De 5 a 10 años</option>
                    <option value="de 10 a 15 años">De 10 a 15 años</option>
                    <option value="mas de 15 años">Mas de 15 años</option>
                </select>

                <div class="mb-3">
                    <label for="pregunta8" class="form-label">8- se han presentado devoluciones del producto, y como es
                        el procesos que realizas?</label>
                    <textarea class="form-control" id="pregunta8" name="pregunta8"
                        placeholder="Escribe aquí tu respuesta"></textarea>
                </div>

                <div class="mb-3">
                    <label for="pregunta9" class="form-label">9- ¿Cuantos tipos de desayunos manejan y que otros
                        productos tienen disponibles a los clientes ?</label>
                    <textarea class="form-control" id="pregunta9" name="pregunta9"
                        placeholder="Escribe aquí tu respuesta"></textarea>
                </div>

                <div class="mb-3">
                    <label for="pregunta10" class="form-label">10- ¿Para que tipo de eventos se realizan los desayunos
                        sopresas u otros?</label>
                    <textarea class="form-control" id="pregunta10" name="pregunta10"
                        placeholder="Escribe aquí tu respuesta"></textarea>
                </div>

                <div class="mb-3">
                    <label for="pregunta11" class="form-label">11- ¿Cuantas personas hacen parte del negocio?</label>
                    <select class="form-select" id="pregunta11" name="pregunta11">
                        <option value="una persona">Una persona</option>
                        <option value="dos personas">Dos personas</option>
                        <option value="tres personas">Tres personas</option>
                        <option value="mas de tres personas">Mas de tres personas</option>
                    </select>

                    <div class="mb-3">
                        <label for="pregunta12" class="form-label">12- ¿existe otro proceso el cual quisieras
                            mencionar?</label>
                        <textarea class="form-control" id="pregunta12" name="pregunta12"
                            placeholder="Escribe aquí tu respuesta"></textarea>
                    </div>

                    <button type="submit" class="btn btn-lg btn-success d-block mx-auto">Enviar</button>



        </form>
    </div>
</body>

</html>